body{
    background-color: black;
}
#container{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    width: 250px;
    background-color: darkcyan;
    padding: .75rem;
    border-radius: 1rem;
    h3{
        font-size: 1.5rem;
    }
}